@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
}

header > p {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

header a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}

header a:hover {
    text-decoration: underline;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}